In [ ]:
#Sieci Kohonena
!pip install sklearn_som

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from sklearn_som.som import SOM

In [2]:
ceny=pd.read_csv("C:\\Users\\user\\Documents\\Eksploracja danych\\Informatyka\\Lab12\\ceny.csv",sep=";",decimal=",")
ceny.head()

,rok,ryz,maka,kurczak,kielbasa,jaja,maslo,olej,cukier,miod,kawa,herbata,karp,przyrost,bezrobocie,przyrost2
0,1999,2.43,1.48,5.24,10.99,0.27,2.26,4.91,1.95,6.38,6.95,1.92,9.97,-1,11.4,ujemne
1,2000,2.39,1.60,5.76,11.87,0.33,2.88,4.18,2.97,6.40,6.72,2.04,9.58,-1,13.7,ujemne
2,2001,2.29,1.70,5.90,12.68,0.34,2.35,4.09,2.52,6.48,5.79,2.14,9.77,-1,15.7,ujemne
3,2002,2.12,1.57,4.93,12.44,0.30,2.35,4.13,2.28,6.66,4.75,2.14,10.04,-1,18.1,ujemne
4,2003,1.98,1.48,5.09,11.34,0.33,2.47,4.45,2.15,6.73,4.55,2.13,10.95,-1,20.6,ujemne

In [3]:
names2=['ryz', 'maka', 'kurczak', 'kielbasa', 'jaja','maslo','olej','cukier','miod','kawa','herbata','karp']
ceny_data=ceny[names2]
ceny_data=stats.zscore(ceny_data)

In [4]:
data=np.array(ceny_data)

In [21]:
ceny_som = SOM(m=2, n=2, dim=12)
ceny_som.fit(data)

In [22]:
ceny['klastry'] = ceny_som.predict(data)

In [23]:
zestawienie=ceny[['rok','klastry','bezrobocie','przyrost2']]
print(zestawienie)

     rok  klastry  bezrobocie przyrost2
0   1999        2        11.4    ujemne
1   2000        2        13.7    ujemne
2   2001        2        15.7    ujemne
3   2002        2        18.1    ujemne
4   2003        2        20.6    ujemne
5   2004        2        20.6    ujemne
6   2005        2        19.4    ujemne
7   2006        2        18.0    ujemne
8   2007        2        15.1    ujemne
9   2008        0        11.5  dodatnie
10  2009        1        10.4  dodatnie
11  2010        1        12.9    ujemne
12  2011        1        13.1  dodatnie
13  2012        1        13.2    ujemne
14  2013        1        14.2    ujemne
15  2014        1        13.9    ujemne
16  2015        1        11.9    ujemne
17  2016        1        10.2    ujemne
18  2017        1         8.5  dodatnie
19  2018        1         6.8  dodatnie
20  2019        1         6.1    ujemne

In [12]:
ceny_som.transform(data)
#The Euclidean distance from each item in data to each cluster center.

array([[3.15913596, 4.80919484, 4.48627678, 6.96577714],
       [2.36848757, 4.1267283 , 3.64293566, 6.27611202],
       [2.0844355 , 4.10950008, 3.67236639, 6.33998301],
       [2.54224992, 4.84186506, 4.47783981, 7.14908117],
       [2.505173  , 4.777729  , 4.44699217, 7.09020719],
       [1.34727662, 3.51173425, 3.16393095, 5.83170475],
       [1.34130288, 3.54058485, 3.21369369, 5.88781135],
       [1.72107186, 3.93910329, 3.60222989, 6.27183614],
       [0.9113691 , 2.65124959, 2.30644119, 4.98223818],
       [2.10658651, 1.52662626, 1.68060164, 3.6580183 ],
       [3.06887045, 1.63968044, 2.00821977, 3.1176466 ],
       [2.71234186, 0.85573589, 1.37337653, 2.62304443],
       [4.80146614, 2.9455926 , 3.15998827, 2.57585548],
       [5.79267388, 3.66451886, 3.92447535, 2.35454   ],
       [5.26943777, 3.03402293, 3.34996669, 1.61370528],
       [4.50946639, 2.21837274, 2.61753123, 1.12564542],
       [4.16274219, 2.07048198, 2.41780929, 1.69608389],
       [4.1646386 , 1.91417827, 2.22067823, 1.14700635],
       [5.42206862, 3.15344318, 3.43040304, 1.02704483],
       [6.44582712, 4.3073944 , 4.59741984, 2.42191653],
       [7.60228684, 5.46015004, 5.73871509, 3.38615884]])